.add-property__form {
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 25%;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 20px;
}

.add-property__title {
  padding-top: 20px;
}

.add-property__price {
  width: 150px;
}
