.icon {
  padding-right: 5px;
}

.property-card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 110%;
  margin-left: -50px;
}

.property-card {
  padding: 10px 20px 10px 20px;
  margin: 10px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
}

.p {
  padding-bottom: 5px;
}

.property-card__email {
  text-align: center;
  padding: 5px;
  background-color: #da7c1f;
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  margin-top: 10px;
}

a:link {
  text-decoration: none;
  color: #39393a;
}
